<!DOCTYPE html>
<html>
  <head>
    <title>Web Page Summarizer</title>
  </head>
  <body>
    <h1>Web Page Summarizer</h1>
    <div class="content">
      <div class="home-page-content">
        <form action="." method="POST">
          <p><label>URL?<input name="url" type="text"></input></label><button type="submit">Summarize!</button></p>
        </form>
      </div>
      <div class="results">
        <h1>Title</h1>
        <ul>
          <li>Heading from page</li>
        </ul>
      </div>
    </div>
  </body>
</html>
